<%- include("partials/header"); -%>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="images/favicon.png" alt="LEI Logo" width="30" height="24" class="d-inline-block align-text-top">
        Little Eyes International
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="about-us-section">
    <h2>About Little Eyes International</h2>
    <p>
        Little Eyes International is a 501(c)(3) nonprofit organization based in Arizona. As pediatric 
        eye care providers, our goal is to offer optical, clinical, and surgical eye care services to 
        underserved children in Arizona and Sonora, Mexico. Our mission is to prevent and cure childhood 
        blindness in patients from all socioeconomic backgrounds.
    </p>
    <p>
        Little Eyes International was founded in July of 2021 by local Pediatric Ophthalmologist 
        husband and wife team Laura Kueny and Patrick Burke. In 2019, Dr. Kueny and Dr. Burke started 
        volunteering quarterly with the local Lions Club mobile unit to reach children in rural areas 
        of Arizona and provide free eye care. Unfortunately, this program was shut down during the COVID 
        pandemic and has not since been reopened. In the state of Arizona the only two cities with 
        access to Pediatric Ophthalmology are Tucson and Phoenix. The pandemic also created new challenges 
        for families from Mexico who needed to cross the border to receive medical care in the United States. 
        This has left many families with the inability to access medical treatment or the burden of traveling long 
        distances if they are fortunate enough to do so. 
    </p>
    <p>
        In September 2021, Little Eyes International partnered with the Rocky Point Medical Center in Puerto 
        Peñasco, Sonora, Mexico. Through this partnership, Little Eyes has been able to provide children in 
        need with monthly pediatric eye clinics, vision screening, and free prescription eyeglasses.
    </p>

    <a class="btn btn-primary bottom-btn" href="/">Go Back</a>
</div>


<%- include("partials/footer"); -%>
