<%- include("partials/header"); -%>
<%- include("partials/navbar"); -%>

<div class="about-us-section">
    <h2>This will be the title of the page</h2>
    <p>
        This will include the body of the post. There will be pictures, and it will be beautiful.
    </p>

    <a class="btn btn-primary bottom-btn" href="/">Go Back</a>
</div>


<%- include("partials/footer"); -%>
