<%- include("partials/header"); -%>

<body>
  <div class="failure">
    <h1 style="padding: 50px 0 50px 0;">Something went wrong</h1>
    <br>
    <br>
    <a class="btn btn-primary bottom-btn" href="/signup">Try Again</a>
    <a class="btn btn-primary bottom-btn" href="/">Return Home</a>
    <br>
    <br>
    <br>
    <br>
    <p>If you continue to have trouble, let us know.</p>
    <a href="mailto:LittleEyesInternational@gmail.com?subject=Had trouble signing up for updates">
      <h5 class="email">LittleEyesInternational@gmail.com</h5>
    </a>

  </div>
</body>

</html>
