<%- include("partials/header"); -%>

<body>
  <div class="jumbotron">
    <h1 class="site-title">Little Eyes International</h1>
    <h4 class="site-subtitle">See a difference today</h4>
    <a class="btn btn-default top-donate-btn" href="/donate" style="background: #41a2d8 url(https://donorbox.org/images/red_logo.png) no-repeat 15px;color: #fff;text-decoration: none;display: inline-block;font-size: 16px;padding: 7px 15px 7px 50px;"> Donate </a>
  </div>

  <div class="at-a-glance">
    <img src="images/sunglasses.jpg" alt="Child with sunglasses">
    <h2>Little Eyes International at a glance</h2>
    <p>As pediatric eye care providers, our goal is to offer optical, clinical, and surgical
      eye care services to underserved children in Arizona and Mexico. Our mission is to prevent
      and cure childhood blindness in patients from all socioeconomic backgrounds.</p>
    <a class="btn btn-primary" href="/signup">Stay informed</a>
  </div>

  <div class="what-we-do">
    <h1>What we do</h1>
    <h4>Seeing A Difference</h4>
  </div>

  <div class="tiled-section">

    <div class="card-group">
      <div class="card image-card">
        <img class="card-img" src="images/beforeBMR.jpg" alt="Child before surgery">
      </div>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Need for Eye Care</h2>
          <p class="card-text">Globally, there is a shortage of pediatric ophthalmologists and optometrists. The shortage of adequate
            eye care providers limits access for underserved children who are uninsured or underinsured to receive the health care they
            need to prevent abnormal visual development.</p>
        </div>
      </div>
      <div class="card image-card">
        <img class="card-img" src="images/afterBMR.jpg" alt="Child after surgery">
      </div>
    </div>

    <div class="card-group">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Medical Services</h2>
          <ul class="card-text">
            <li>Complete eye exams</li>
            <li>Evaluation for glasses</li>
            <li>Diagnosis and treatment of Amblyopia, Strabismus, and other childhood ocular diseases</li>
            <li>Access to glasses</li>
            <li>Eye care education</li>
          </ul>
        </div>
      </div>
      <div class="card image-card">
        <img class="card-img" src="images/selfie.jpg" alt="Selfie of surgeons">
      </div>
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Surgical services</h2>
          <ul class="card-text">
            <li>Strabismus (eye crossing or drifting)</li>
            <li>Nasolacrimal duct obstruction (eye tearing)</li>
            <li>Excisional removal of eyelid growths</li>
            <li>Congenital ptosis (droopy eyelid)</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="quote-section">
    <h2>"Great things are done by a series of small things brought together."</h2>
    <h4>Vincent van Gogh</h4>
  </div>


  <div class="contact-us-section">
    <h1>Contact Little Eyes International</h1>
    <hr>
    <a href="mailto:LittleEyesInternational@gmail.com?subject=Wanted to connect!"><h3 class="email">LittleEyesInternational@gmail.com</h3></a>
    <a class="btn btn-primary bottom-btn" href="/signup">Stay informed</a>
    <a class="btn btn-default bottom-btn" href="/donate" style="background: #41a2d8 url(https://donorbox.org/images/red_logo.png) no-repeat 15px;color: #fff;text-decoration: none;display: inline-block;font-size: 16px;padding: 7px 15px 7px 50px;"> Donate </a>

  </div>


  <!-- Bootstrap JS Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>
