<%- include("partials/header"); -%>
</head>

<body>
  <div class="success">
    <h1 style="padding: 50px 0 50px 0;">You're all set!</h1>
    <br>
    <br>
    <a class="btn btn-primary bottom-btn" href="/home">Main Page</a>
  </div>
</body>

</html>
