body {
  /* font-family: Montserrat; */
  /* font-weight: 600; */
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  color: #112D4E;
}

.navbar-toggler-icon {
  background-image: url("../images/hamburger.png") !important;
}

.jumbotron {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #DFF4F3;
  /* background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png"); */
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

.site-title {
  padding-bottom: 2rem;
  font-size: 4.5rem;
  font-weight: 700;
}

.site-subtitle {
  padding-bottom: 2rem;
  font-size: 2rem;
  /* font-weight: 600; */
}

.top-btn {
  margin: 0 0.5rem 0 0.5rem;
}

.at-a-glance {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: #B9BBDF;
  background-image: url("https://www.transparenttextures.com/patterns/corrugation.png");
}

.at-a-glance h2 {
  text-transform: uppercase;
  padding: 2rem 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.at-a-glance img {
  max-width: 80%;
  height: auto;
}

.at-a-glance p {
  padding-bottom: 2rem;
}

.what-we-do {
  text-align: center;
  padding: 2rem 0;
  background-color: #878ECD;
  color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/green-gobbler.png");
}

.what-we-do h1 {
  text-transform: uppercase;
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 4rem;
}

.card {
  background-color: #DFF4F3;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

.image-card {
  text-align: center;
}
.card-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.card-body {
  padding-top: 2rem;
}

.quote-section {
  text-align: center;
  background-color: gainsboro;
  padding: 4rem 0;
  /* background-color: #e8dfd3; */
  background-color: #878ECD;
  color: #ffffff;
}

.quote-section ol {
  text-align: left;
  /* padding: 0 4rem */
}

.quote-section h5 {
  text-align: left;
  /* padding: 0 4rem 0 4rem; */
}

.contact-us-section {
  text-align: center;
  padding: 4rem 0;
  background-color: #B9BBDF;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.contact-us-section h1 {
  text-transform: uppercase;
  font-weight: 700;
}

.email {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.bottom-btn {
  margin: 0 0.5rem 0 0.5rem;
}

.success {
  text-align: center;
}

.failure {
  text-align: center;
}

.failure .email{
  padding-top: 0
}
